<html>
<head>
	<title>Mikako's Blog</title>
</head>
	<body>
		<div>
			<h1><a href="/">Mikako's Blog</a></h1>
		</div>

		<div>
			<p>published: 20.10.2019, 15:20</p>
			<h2><a href="https://generationvoyage.fr/endroits-visiter-france/">Beautiful regions to visit in France</a></h2>
			<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		</div>

	{% for post in posts %}
		<div>
			<p>published: {{post.published_date}}</p>
			<h2><a href="http://www.marseille-tourisme.com/fr/">Tourist Office at Marseille>{{post.title}}</a></h2>
			<p>{{post.text|linebreaksbr}}</p>
		</div>
	{% endfor %}
	</body>
</html>









